//cores
$corDeFundo: #f5f6fa;
$corDeCabeca: #182C61;
$corDeBtn: #44bd32;
$corDeHover: #4cd137;
$corBranca: #fff;

//fontes
$tipoDeFonte: 'Roboto', sans-serif;

//breakpoints
$breakMobile: 767px;
$breakTablet: 1023px;